@import "./variables.scss";

.nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  padding: 0.5rem;

  img {
    height: 100%;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 0.5rem;
  }

  h2 {
    text-align: center;
    margin-left: 0.5rem;
    background: inherit;
    color: white;
  }
}

main {
  width: 90%;
  min-height: 84vh;
  padding: 4rem 0;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem 0.5rem;
  text-align: center;
  .container_l {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0.5rem;
  }
  .container_r {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0.5rem;
  }
}

footer {
  background: $primary;
  width: 100%;
  height: 8vh;
  padding: 1.1rem;
  text-align: center;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 100%;
    .container_l {
      grid-row: 2;
    }
    .container_r {
      grid-row: 1;
    }
  }
}

@media only screen and (max-width: 400px) {
  main {
    width: 95%;
  }

  .container {
    padding: 1rem 0rem;
    .container_l {
      padding: 0rem;
      margin: 0 0rem;
    }
    .container_r {
      padding: 0rem;
      margin: 0 0rem;
    }
  }
}
