$white: rgb(240, 240, 240);
$primary: rgb(10, 125, 219);
$primary-light: rgba(9, 89, 155, 0.788);
$primaryHover: rgb(10, 102, 177);
$danger: rgb(245, 52, 52);
$dangerHover: rgb(184, 43, 43);
$laugh: rgb(255, 153, 0);
$laughHover: rgb(228, 153, 40); ;
